@import url("https://fonts.googleapis.com/css2?family=Gotu&family=Rubik+Dirt&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

* html body {
  min-width: 100vw;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(
    #09082c 20%,
    #46157e 60%,
    rgb(255, 229, 249) 90%
  );
  font-family: "Ubuntu";
}
/* Header */

.logo {
  width: 72px;
  height: 43px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
}

header::after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  top: 88px;
  left: 0px;
  height: 1px;
  width: 100%;
}

header {
  min-width: 100%;
}

.icons {
  display: flex;
  gap: 18px;
  margin-right: 10px;
  margin-top: 10px;
  align-items: center;
}

.iconImg {
  font-size: 40px;
}

.navegation {
  display: flex;
  gap: 18px;
  margin-right: 10px;
  align-items: center;
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
}

.navegation > li {
  position: relative;
}
.navegation > li > a {
  color: #ffffff;
}

.navegation > li::after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  top: calc(100% + 4px);
  left: 0px;
  height: 4px;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}

.navegation > li:hover::after {
  opacity: 1;
}

.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #591f64;

  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.title {
  font-family: "Rubik Dirt";
  font-size: 25px;
  color: #ffffff;
  margin-left: 10px;
}

@media (min-width: 601px) {
  .icons {
    display: none;
  }
}

@media (max-width: 600px) {
  .navegation,
  .title {
    display: none;
  }
  .navegation > li {
    text-decoration: none;
  }
}

/* main */

.totoroContainer {
  display: flex;
  justify-content: center;
}

.totoroImg {
  width: 90%;
  height: auto;
  border-radius: 30px;
  margin-bottom: 18px;
  box-shadow: 5px 7px 4px #591f64;
}

@media (min-width: 600px) {
  .totoroImg {
    width: 70%;
  }
}

.search {
  background: rgb(255, 255, 255);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 13px;
  max-width: 400px;
}

.inputSearch {
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchIcon1,
#searchIcon2 {
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: #591f64;
}

.welcomeContainer {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: "Gotu";
  font-weight: 900;
  font-size: 17px;
  color: #ffffff;
}

@media (min-width: 601px) {
  #searchIcon2 {
    display: none;
  }
}

@media (min-width: 600px) {
  .welcomeContainer {
    font-size: 30px;
  }
}

.genre {
  background-color: #591f64;
  border-radius: 15px;
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.spanGenre {
  height: 20px;
  color: white;
  font-weight: 900;
  cursor: pointer;
}

.spanGenre:hover {
  color: #f08cca;
}

.genreContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
}

@media (max-width: 600px) {
  .genreContainer {
    display: none;
  }
}

.menuContainer1 {
  display: flex;
  justify-content: center;
}

.menuContainer2 {
  width: 80%;
  max-width: 400px;
  display: flex;
  justify-content: end;
  position: absolute;
}
.menu {
  background-color: #ffffff;
  width: 50%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
}

.menu > li {
  text-align: right;
  padding: 10px 10px;
  color: #591f64;
  font-weight: 900;
}

.hideMenu {
  display: none;
}

.menu > li::after {
  content: none;
}

.menu > li:hover,
.menu > li::after {
  color: #f08cca;
}

.movie {
  width: 80%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #591f64;
  border-radius: 20px;
}

@media (min-width: 400px) {
  .movie {
    width: 40%;
  }
}

.movie > figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.movieImg {
  width: 90%;
  height: 90%;
  border-radius: 20px;
}

.movieContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 50px;
}

.fecha {
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
}

.titleMovie {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

footer {
  background-color: #591f64;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.iconFooterContainer {
  display: flex;
  gap: 10px;
}

.iconFooter {
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.copyright {
  color: #ffffff;
}

@media (min-width: 600px) {
  .copyright,
  .iconFooter {
    font-size: 30px;
  }
}

.goUp {
  font-size: 30px;
  text-decoration: none;
  position: fixed;
  bottom: 35px;
  right: 10px;
}

.goUp > a {
  color: #f08cca;
}

/* About */
.aboutContainer {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: "Fira Sans";
  font-weight: 900;
  font-size: 27px;
  color: #ffffff;
}

@media (min-width: 600px) {
  .aboutContainer {
    font-size: 50px;
  }
}

.sGContainer {
  display: flex;
  justify-content: center;
}

.sGImg {
  width: 80%;
  height: auto;
  margin-bottom: 18px;
}

@media (min-width: 800px) {
  .sGContainer {
    width: 50%;
    height: 50%;
  }
}

@media (min-width: 800px) {
  .sGImg {
    width: 70%;
  }
}

.iconBack {
  display: flex;
  gap: 18px;
  margin-right: 10px;
  margin-top: 10px;
  align-items: center;
}

.iconBackImg {
  font-size: 50px;
  color: #f97373;
}

.aboutTextContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.aboutText {
  width: 80%;
  text-align: justify;
  padding-right: 30px;
}

@media (min-width: 800px) {
  .aboutTextContainer {
    margin: 0px;
    width: 50%;
  }
}

@media (min-width: 800px) {
  .aboutText {
    margin: 0px;
    width: 100%;
    font-size: large;
  }
}

.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 800px) {
  .all {
    margin: 0px 20px;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }
}

.Movi1Container {
  display: flex;
  margin: 5%;
  line-height: 1.5em;
}
.Movie1Sky {
  margin-right: 3%;
}
.caja1 {
  width: 40%;
}
.peoplesky {
  color: #ffffff;
  display: flex;
  justify-content: center;
}
.people {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1583b6;
  border-radius: 20px;
  padding-bottom: 20px;
}
.peopleImg {
  margin-top: 10%;
  width: 70%;
}

/* curiosities */

.curiositiesTextContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.curiositiesText {
  width: 80%;
  text-align: justify;
}

@media (min-width: 800px) {
  .curiositiesText {
    font-size: large;
    font-size: 40px;
  }
}

.chartContainer {
  position: relative;
  margin: auto;
  height: 40vh;
  width: 100%;
  padding: 0px 20px;
}

@media (min-width: 600px) {
  .chartContainer {
    padding: 0px 50px;
    height: 60vh;
  }
}

#characterDataContainer {
  background-color: #feeaef;
  margin: 10px;
  border-radius: 10px;
}

@media (min-width: 900px) {
  #characterDataContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px;
  }
}

.characterData {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  gap: 10px;
  position: relative;
}

.characterData::after {
  content: "";
  background-color: #17786a;
  position: absolute;
  top: calc(100% + 2px);
  left: 0px;
  height: 4px;
  width: 100%;
}

@media (min-width: 900px) {
  .characterData {
    width: 50%;
    display: flex;
    justify-content: start;
  }
}

.circleMovieContainer {
  width: 100px;
  height: 100px;
}

.circleMovie {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.characterDataText {
  display: flex;
  text-align: center;
  width: 50%;
  font-family: "Fira Sans";
  color: #f97373;
}

@media (min-width: 900px) {
  .characterDataText {
    width: auto;
  }
}

/* filter */

.filter {
  display: none;
}
